<div class="container">
  <p upParagraph="base">
    Selecting the unregistered icon option will provide a fallback icon - the warning icon, in this
    case.
  </p>
  <div class="wrapper">
    <div class="icon-wrapper-large">
      <i [upIcon]="upIconType" [fallback]="fallback"></i>
    </div>
    <div class="icon-wrapper-medium">
      <i [upIcon]="upIconType" [fallback]="fallback"></i>
    </div>
    <div class="icon-wrapper-small">
      <i [upIcon]="upIconType" [fallback]="fallback"></i>
    </div>
  </div>
  <div class="icon-info">
    <div class="large">
      <p upParagraph="XS">32x32</p>
    </div>
    <div class="medium">
      <p upParagraph="XS">24x24</p>
    </div>
    <div class="small">
      <p upParagraph="XS">16x16</p>
    </div>
  </div>
</div>
