:root {
    --up-brand-1: #312B78;
    --up-brand-2: #211C4E;
    --up-brand-3: #50E2D1;
    --up-brand-1-50: #F1F0FA;
    --up-brand-1-100: #D4D2EF;
    --up-brand-1-200: #B8B4E4;
    --up-brand-1-300: #9B96D9;
    --up-brand-1-400: #7E78CF;
    --up-brand-1-500: #625AC4;
    --up-brand-1-600: #4A41B4;
    --up-brand-1-700: #3D3696;
    --up-brand-1-800: #312B78;
    --up-brand-1-900: #211C4E;
    --up-brand-3-50: #DCF9F6;
    --up-brand-3-100: #B9F3ED;
    --up-brand-3-200: #96EEE3;
    --up-brand-3-300: #73E8DA;
    --up-brand-3-400: #50E2D1;
    --up-brand-3-500: #2DDCC8;
    --up-brand-3-600: #20C0AE;
    --up-brand-3-700: #1A9D8E;
    --up-brand-3-800: #147A6F;
    --up-brand-3-900: #0F574F;
    --up-negative-900: #5E0E1B;
    --up-negative-800: #811426;
    --up-negative-700: #A51930;
    --up-negative-600: #C21F3A;
    --up-negative-500: #E0304C;
    --up-negative-400: #E5536B;
    --up-negative-300: #EA7689;
    --up-negative-200: #F09AA8;
    --up-negative-100: #F5BDC6;
    --up-negative-50: #FAE1E5;
    --up-neutral-900: #3C3C3C;
    --up-neutral-800: #666666;
    --up-neutral-700: #848484;
    --up-neutral-600: #999999;
    --up-neutral-500: #C2C2C2;
    --up-neutral-400: #E6E6E6;
    --up-neutral-300: #F0F0F0;
    --up-neutral-200: #F5F5F5;
    --up-neutral-100: #FAFAFA;
    --up-white: #FFFFFF;
    --up-warning-900: #5C3D0F;
    --up-warning-800: #855815;
    --up-warning-700: #A36C1A;
    --up-warning-600: #CC8721;
    --up-warning-500: #E0982D;
    --up-warning-400: #E5AB53;
    --up-warning-300: #EAB970;
    --up-warning-200: #F0CE9A;
    --up-warning-100: #F5DDBA;
    --up-warning-50: #FAF2E6;
    --up-positive-900: #2F5217;
    --up-positive-800: #3F701F;
    --up-positive-700: #518F28;
    --up-positive-600: #68B833;
    --up-positive-500: #7ECC49;
    --up-positive-400: #95E063;
    --up-positive-300: #9AE06C;
    --up-positive-200: #B8EB96;
    --up-positive-100: #CDF0B6;
    --up-positive-50: #E8FADC;
    --up-spacing-base-unit: 4px;
    --up-coreTxt: #3C3C3C;
    --up-deemphasisedTxt-1: #848484;
    --up-deemphasisedTxt-2: #C2C2C2;
    --up-coreTxtInverted: #FFFFFF;
    --up-deemphasisedTxtInverted-1: #9895bc;
    --up-deemphasisedTxtInverted-2: #504b8c;
    --up-choiceSelectorLabel: #3C3C3C;
    --up-choiceSelectorLabelDisabled: #848484;
    --up-choiceSelector: #312b78;
    --up-choiceSelectorReadonly: #C2C2C2;
    --up-switchThumbOn: #312b78;
    --up-switchTrackOn: #9895bc;
    --up-switchThumbOff: #3C3C3C;
    --up-switchTrackOff: #C2C2C2;
    --up-switchThumbDisabled: #C2C2C2;
    --up-switchTrackDisabled: #E6E6E6;
    --up-inputLabel: #3C3C3C;
    --up-inputLabelFocus: #252065;
    --up-inputLabelHover: #3C3C3C;
    --up-inputFocus: #312b78;
    --up-inputPlaceholder: #848484;
    --up-inputTxt: #3C3C3C;
    --up-inputTxtDisabled: #848484;
    --up-inputHelperTxt: #848484;
    --up-inputHoverBorder: #3C3C3C;
    --up-inputHelperTxtError: #A51930;
    --up-inputBorder: #E6E6E6;
    --up-inputBorderHover: #6ae6d8;
    --up-inputBorderFocus: #9895bc;
    --up-inputBorderError: #E5536B;
    --up-inputBorderWarning: #E5AB53;
    --up-inputDisabled: #E6E6E6;
    --up-caret: #6ae6d8;
    --up-inputWarningTxtError: #A36C1A;
    --up-bg: #FFFFFF;
    --up-bgDark: #211C4E;
    --up-bgDarkOffset-1: #2c2670;
    --up-bgDarkOffset-2: #504b8c;
    --up-bgDarkOffset-3: #9895bc;
    --up-dividerDark: #504b8c;
    --up-ic: #3C3C3C;
    --up-icDeemphasised: #848484;
    --up-icDestructive: #E5536B;
    --up-navLink: #9895bc;
    --up-navLinkHover: #6ae6d8;
    --up-navLinkActive: #FFFFFF;
    --up-navLinkBgActive: #2c2670;
}